name: Docusaurus Buiuld
run-name: Docusaurus Build
on: [push]
jobs:
  Docusaurus-Build:
    runs-on: docusaurus
    steps:
      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date +'%Y%m%d')"
        
      #- run: pwd
      #- run: whoami
      #- run: ls -la
      #- run: ls -la /mnt/s3-fmadio-doc/
      - run: rm -rf *
      #- run: pwd
      - run: git clone git@github.com:fmadio/documentationV2.git
      #- run: ls -la
      - run: npx create-docusaurus@latest fmadio-doc classic
      - run: rm fmadio-doc/docs/ -rf
      - run: mv documentationV2/ fmadio-doc/docs
      - run: mv fmadio-doc/docs/_config/md2pdf.lua fmadio-doc/
      - run: mv fmadio-doc/docs/_config/custom.css fmadio-doc/src/css
      - run: mv fmadio-doc/docs/_config/docusaurus.config.js fmadio-doc/
      - run: rm fmadio-doc/src/pages/index.js
      - run: chmod +x fmadio-doc/md2pdf.lua
      - run: cd fmadio-doc/docs/ && ./md2pdf.lua
      - run: cd fmadio-doc/ && npm i docusaurus-lunr-search  --save
      - run: cd fmadio-doc/ && npm run swizzle docusaurus-lunr-search SearchBar -- --eject --danger
      - run: cd fmadio-doc/ && npm run build
      
      # Post Process below
      
      - run: cp fmadio-doc/docs/_config/htmlinject.lua fmadio-doc/build
      - run: chmod +x fmadio-doc/build/htmlinject.lua
      - run: cp fmadio-doc/docs/_config/ins.txt fmadio-doc/build
      - run: cd fmadio-doc/build && ./htmlinject.lua
      - run: cp fmadio-doc/docs/_config/favicon.ico fmadio-doc/build/img/favicon.ico
      - run: cp fmadio-doc/docs/_config/fmadio-logo.png fmadio-doc/build/img/fmadio-logo.png
      - run: pwd
      
      - run: cp fmadio-doc/build/ /home/fmadio/${{ steps.date.outputs.date }}/ -r
      
      #move to S3
      - run: sudo rm /mnt/s3-fmadio-doc/* -rf
      - run: sudo cp fmadio-doc/build/* /mnt/s3-fmadio-doc/ -r



